@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i&display=swap");

body {
    width: 900px;
    margin: auto;
    margin-bottom: 50px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid darkgray;
    padding: 0px;
    padding-bottom: 0px;
    margin: 2px 0px 2px 0px
}

.med-calc-section {
    margin: 10px;
    border: 1px solid darkgray;
}

label {
    padding: 1px 5px 1px 5px;
    display: inline-block;
    font-size: 14px;
}

i {
    display: inline-block;
    font-size: 13px;
}

.paaf {
    margin: 40px 4px 4px 4px;
    border: 1px solid rgb(139, 139, 139);
    padding: 0 0 40px 0;            
    border-radius: 5px;
    font-family: "Source Sans Pro", sans-serif;
}

.header {
    font-weight: bold;
    font-size: 17px;
    height: 65px;
    text-align: center;
}


.left {
    width: 49.5%;
    float: left;
}

.right {
    width: 49.5%;
    float: right;
}

.patient-info-label {
    display: inline-block;
    text-align: right;
    width: 40%;
}

.patient-info-input {
    display: inline-block;
    width: 50%;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

table,
th,
td {
    border-spacing: 0px;
    border: 1px solid rgb(216, 216, 216);
    /* border-bottom: none;
    border-top: none; */
    text-align: center;
    font-size: 13px;
}

label[for] {
    cursor: pointer;
}

.text-align-right {
    text-align: right;
}

.section {
    border: 1px solid rgb(100, 100, 100);
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}

.accordion {
    display: inline-block;
    background: rgb(100, 100, 100);
    width: calc(100% - 9px);
    font-weight: bold;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -1px;
    margin-top: -1px;
}

.accordion-banner {
    display: inline-block;
    background: #fcf8e3;
    width: calc(100% - 10px);
    color: #8a6d3b;
    /* font-style: italic; */
    /* padding-left: 5px;
    padding-right: 5px; */
    padding: 5px;
    border-color: #faebcc;

}

.close-btn {
    float: right;
    cursor: pointer;
    line-height: 22px;
    padding-right: 3px;
    /* transition: 0.3s; */
}

.block {
    display: block
}

.width-15 {
    width: 15%;
}

input,
textarea {
    border: 1px solid rgb(139, 139, 139);
    padding: .1rem;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
}

/* radio {
    display: inline-block;
    float: left;
    width: 25px;
    clear: none
} */

td label {
    display: block;
    text-align: center;
    cursor: pointer
}

.cursor {
    cursor: pointer;
}

tr label {
    display: block;
    text-align: center;
    cursor: pointer
}

.button {
    padding: 5px;
    font-size: medium;
    float: right;
}

.severe-asthma-footer {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    display: none;
    padding: 10px;
    text-align: center;
    background: #f66;
    font-weight:bold;
    width: 870px;                        
}


@media print {
    /*CSS that removes textarea and textbox borders when printing ---(put this inbetween <header></header>)*/
    img {
        /* insure images don't get cut */
        max-width: 100% !important;
    }

    div.DoNotPrint {
        display: none;
    }

    input.noborder {
        border: 0px;
        background: transparent;
    }

    .accordion {
        background: none;
        width: calc(100% - 10px);
        font-weight: bold;
        color: black;
    }

    textarea.noborder {
        scrollbar-3dlight-color: transparent;
        scrollbar-3dlight-color: transparent;
        scrollbar-arrow-color: transparent;
        scrollbar-base-color: transparent;
        scrollbar-darkshadow-color: transparent;
        scrollbar-face-color: transparent;
        scrollbar-highlight-color: transparent;
        scrollbar-shadow-color: transparent;
        scrollbar-track-color: transparent;
        background: transparent;
        overflow: hidden;
        /* scrollbar : none; */
        border: 0px;
    }
}

